@model buoi4_SPCart.Models.Product;
@{
    ViewData["Title"] = "Index";
}
<style>
    .List-product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-card {
        flex: 0 0 calc(16.666% - 20px); /* Adjust the percentage as needed */
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        text-align: center;
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .product-card .title {
        display: block;
        margin-top: 8px;
        font-weight: bold;
    }

    .product-card .addProduct {
        display: inline-block;
        margin-top: 8px;
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 4px;
    }

</style>

<div class="List-product">
    @foreach (var item in ViewBag.products)
    {
        <div class="product-card">
            <img src="/images/@item.UrlImage" class="img-responsive" width="200" height="200"/>
            <span class="title">@item.Title</span>
            <a asp-controller="Product" asp-action="addCart" asp-route-id="@item.ProductID" class="addProduct">Add Order</a>
        </div>
    }
</div>

